/* management popup box */

/* The Modal (background) */
.modalOne {
    display: none;
    position: fixed;
    z-index: 100; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content */
  .modal-content-2 {
    position: relative;
    background-color: #fefefe;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #888;
    width: 80%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close2 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  div>span:nth-child(2){
    padding: 0;
  }
  
  .close2:hover,
  .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header-2 {
    padding: 5px 16px;
    background-color: #2c2c54;
    color: white;
    margin-bottom: 2rem;
  }
  
  .modal-body-2 {
    padding: 2px 16px;
  }