<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Chairman</title>
    <link rel="stylesheet" href="Css/chairman.css" />
  </head>



  <style>




  </style>
  <body>





    
    <div  class="msgtitle"><h1>About Chairman</h1>
    </div>

    <section class="msg">
    <div class="containerch">
      <div class="image">
        
        <a href="Members_Images/papaji.jpg"><img src="Members_Images/papaji.jpg" alt="" /></a>
      </div>
      <h2>Mr. Nagendra Prasad Chaudhary</h2>
      <h3>(Chairman)</h3>
    </div>
    <hr>
    <div class="info">
      
      <p>
        Well known and experienced investment banker Mr. Nagendra Prasad Chaudhary was born in 6th Shrawan, 2020(BS) 21st July, 1963(AD) in a small village of Kaudena in Sarlahi District of Nepal. First child of Mr. Hardev Chaudhary and Mrs. Shanti Devi. Mr. Chaudhary is a well known public figure in the area and surrounding districts.       </p>
      <p>
        Bachelor's in.....and Masters in ....... Mr. Chaudhary got his first recognition with success of The Sahara Co Operative Bank which was founded by him in year 20... that he currently heads as the General Manager.
      </p>
      <p>
        In last two decades he has invested in banking sector as Promoter Share Holder of Sahara Bikash Bank, corporate sectors and franchise of Chaudhary Entreprises & Chaudhary Tractor Suppliers.
      </p>
      <p>
       He is also well regarded for his contributions in various social work programs. He has been associated with Nepal Red Cross Society for the last 20 years. Starting his services as General Secretary and now currently as the President for the second term. He has been awarded by various organisations for his social work and managerial skills.
      </p>
      <p>
        Acknowledging the requirement of rapidly developing surrounding he has pledged himself to contribute in developing infrastructure in his locality. He has invested in hospitality industry for the first time. Hotel Kusum Palace is his dream project to provide luxury never seen before in the area..
      </p>
      <p>His simplicity, visionary leadership, inspirational personality and success story make him a recognizable house hold name in Sarlahi.</p>
      <hr>
      <!-- <div class="msglast">
        <p class="tobold">Nagendra Prasad Chaudhary</p>
        <p>Chairman</p>
        <p class="tobold">Hotel Kusum Palace</p>
        <p>Malangwa-08,Sarlahi</p>
      </div> -->
      <div class="msglast">
        <h2 style="font-family: 'Raleway', sans-serif; font-size: 1.4rem;color: rgb(197, 5, 5);" class="tobold">Family Information :</h2> <br>
        <p class="tobold">Mrs. Kusum Devi (Wife)</p>
        <p>Housewife & Honorary Vice Chairman, Hotel Kusum Palace</p>
      </div>

      <div class="msglast">
        <h5 style="font-family: 'Raleway', sans-serif; font-size: 1.4rem;color: rgb(197, 5, 5);" class="tobold">Childrens:</h5> <br>
        <p class="tobold">Dr. Santosh Jaiswal</p>
        <p>MBBS (USTC, Bangladesh)</p>
        <p>Executive Managing Director 
Hotel Kusum Palace</p>
       
      </div>



      <div class="msglast">
        
        <p class="tobold">Ambika Jaiswal</p>
        <p>BMLT (Dehradun, India)</p>
        
        <p>Member, Hotel Kusum Palace</p>
      </div>


      <div class="msglast">
        
        <p class="tobold">Dr. Pooja Jaiswal</p>
        <p>MBBS (Nobel Medical College)</p>
        
        <p>Member, Hotel Kusum Palace</p>
      </div>


      <div class="msglast">
        
        <p class="tobold">CA Ravi Jaisawal</p>
        <p>CA (The Institute of Chartered Accountants of India) </p><p>Executive Finance Director & DMD 
Hotel Kusum Palace</p>
      </div>
    </div>
  </section>






  <footer>
    <div class="footer"></div>
  </footer>





  </body>
</html>
