<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message from Chairman</title>
    <link rel="stylesheet" href="Css/chairman.css" />
  </head>
  <body>





    
    <div  class="msgtitle"><h1>Message from Chairman</h1>
    </div>

    <section class="msg">
    <div class="containerch">
      <div class="image">
        
        <a href="Members_Images/papaji.jpg"><img src="Members_Images/papaji.jpg" alt="" /></a>
      </div>
      <h2>Mr. Nagendra Prasad Chaudhary</h2>
      <h3>(Chairman)</h3>
    </div>
    <hr>
    <div class="info">
      
      <p>Namaste and welcome to our website.</p>
      <p>Greetings from Hotel kusum Palace.</p>
      <p>
        It gives me immense pleasure to introduce Hotel Kusum Palace as the
        largest and the best business class hotel in Malangwa, Sarlahi, Nepal.
      </p>
      <p>
        I take this opportunity to thank our valued customers whose continued
        patronage and confidence in our services inspires us to extend our best
        and enable us to provide value for their money.
      </p>
      <p>
        For many years I have observed that the only option for business
        travellers was a motel or a hotel. Often overpriced, without basic
        business amenities and with very little space to move. An opportunity
        was identified; to provide business travellers with more space and offer
        services that make working away from home more convenient and
        comfortable.
      </p>
      <p>
        With passion to create a home away from home for business and leisure
        travellers alike we offer best luxurious rooms with modern basic
        amenities and comfortable beds. A vast array of alluring dishes await us
        all in our restaurants. Our bar is stocked with all kinds of liquor and
        wine of the finest quality. With well equipped training and conference
        rooms and spacious banquet, Hotel Kusum Palace is a best one stop Hotel
        around the state.
      </p>
      <p>
        At Hotel Kusum Palace we are confident that our philosophy of continuous
        improvement in our business model, franchising and guest services will
        keep us in the leadership position we have enjoyed for many years.
      </p>
      <p>Here on our website you’ll find extensive information about us.</p>

      <p>We look forward to making your stay a wonderful experience.</p>
      <p>Thank you for visiting our website.</p>
      <p>Have a good day !!</p>

      <hr>
      <div class="msglast">
        <p class="tobold">Nagendra Prasad Chaudhary</p>
        <p>Chairman</p>
        <p class="tobold">Hotel Kusum Palace</p>
        <p>Malangwa-08,Sarlahi</p>
      </div>
    </div>
  </section>






  <footer>
    <div class="footer"></div>
  </footer>





  </body>
</html>
