<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message from Executive Finance Director</title>
    <link rel="stylesheet" href="Css/chairman.css" />
  </head>
  <body>


    
    <div  class="msgtitle"> <h1>Message from Finance Director</h1>
    </div>



    <section class="msg">
    <div class="containerch">
      <div class="image">
        <a href="Members_Images/Ravi.jpg"
          ><img src="Members_Images/Ravi.jpg" alt=""
        /></a>
      </div>
      <h2>CA Ravi Jaiswal</h2>
      <h3>(Executive Finance Director)</h3>
    </div>


    
    <div class="info">
      <hr>
      <p>Namaste and Warmth welcome!</p>
      <p>Greetings from Hotel Kusum Palace,</p>
      <p>
        It gives me tremendous joy to present Hotel Kusum a Luxurious and a
        modern era Hotel located in Malangwa, Sarlahi, Nepal. Hotel Kusum place
        was developed to introduce a new concept in the hospitality industry,
        based on professional and personalized services combined with Indo-
        Nepal hospitality culture. Mountains, valleys, rivers and lush green
        colours bewitch the most jaded of senses.
      </p>
      <p>
        The country entices and enthrals the spirit of discovery and delight.
        The country of the world's highest peak - the Everest - is the answer to
        the International traveller’s quest. It intrigues and excites.
      </p>
      <p>
        Equipped with a host of modern amenities, Hotel Kusum palce offers a
        comfort and luxury without compromising on affordability. An array of
        facilities is available to guests, making us the ideal choice of
        accommodation for every discerning traveller on the lookout for a
        memorable hotel experience
      </p>
      <p>
        Client satisfaction is our first priority. We offer dedicated customer
        service facilities
      </p>

      <p>
        Stylishly furnished with a relaxed and friendly atmosphere, whether you
        are staying for a day or a month, our philosophy is to ensure you feel
        entirely at home.
      </p>
      <p>
        Should you require any financial clarification or assistance, please do
        not hesitate to contact us in advance of your arrival to further
        understand the financial assistance on offer and how the hotel can
        assist you in this matter.
      </p>
      
      <p>Thank you.</p>
      <hr>
      <div class="msglast">
        <p class="tobold">CA Ravi Jaiswal</p>
        <p><span> Deputy Managing Director </span></p>
        <p class="tobold">Finance Director</p>
        <p><span> Hotel Kusum Palace</span></p>
      </div>
    </div>
  </section>

  <footer>
    <div class="footer"></div>
  </footer>
  </body>
</html>
