<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cards</title>
    <link rel="stylesheet" href="Css/style.css" />
  </head>
  <body>
    <p id="maintitle">Board of Director</p>
    <section class="container1">
      <div class="card">
        <div class="card-image c1"></div>
        <h2>Mr. Nagendra Prasad Chaudhary</h2>
        <h3>(Chairman)</h3>
        <p>
          Namaste and welcome to our website. Greetings from Hotel Kusum Palace,
          It gives me immense pleasure to introduce Hotel Kusum Palace as the
          largest and the best business class hotel in Malangwa, Sarlahi, Nepal.
        </p>
        <a href="chairman_msg.html">Read More</a>
      </div>
      <div class="card">
        <div class="card-image c2"></div>
        <h2>Dr. Santosh Jaiswal</h2>
        <h3>(Executive Managing Director)</h3>
        <p>
          I would like to take this opportunity to welcome you to the country of
          Mount Everest, Lord Pashupatinath Lord Buddha and Goddesses Sita,
          Nepal. The Himalayan and mystical country offers a journey to remember
          with its diverse topographies, cultures, languages, religions and
          festivals.
        </p>
        <a href="managing_msg.html">Read More</a>
      </div>
      <div class="card">
        <div class="card-image c3"></div>
        <h2>CA Ravi Jaiswal</h2>
        <h3>(Executive Finance Director)</h3>
        <p>
          It gives me tremendous joy to present Hotel Kusum a Luxurious and a
          modern era Hotel located in Malangwa, Sarlahi, Nepal. Hotel Kusum
          place was developed to introduce a new concept in the hospitality
          industry, based on professional and personalized services combined
          with Indo- Nepal hospitality culture. .
        </p>
        <a href="finance_msg.html">Read More</a>
      </div>

      <div class="card">
        <div class="card-image c4"></div>
        <h2>Mrs. Kusum Devi</h2>
        <h3>(Vice Chairman)</h3>
      </div>
      <div class="card">
        <div class="card-image c5"></div>
        <h2>Mrs. Alka Jaiswal</h2>
        <h3>(Director)</h3>
      </div>
      <div class="card">
        <div class="card-image c6"></div>
        <h2>Mrs. Ambika Jaiswal</h2>
        <h3>(Director)</h3>
      </div>
      <div class="card">
        <div class="card-image c7"></div>
        <h2>Dr.Pooja Jaiswal</h2>
        <h3>(Director)</h3>
      </div>
    </section>
  </body>
</html>
