<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message from Executive Managing Director</title>
    <link rel="stylesheet" href="Css/chairman.css" />
  </head>
  <body>



    
    <div  class="msgtitle"><h1>Message from the desk of Managing Director</h1>
    </div>

    <section class="msg">
    <div class="containerch">
      <div class="image">
        <a href="Members_Images/santosh.jpeg"><img src="Members_Images/santosh.jpeg" alt="santosh" /></a>
      </div>
      <h2>Dr. Santosh Jaiswal</h2>
      <h3>(Executive Managing Director)</h3>
    </div>
    <div class="info">
     <hr>
      <p>Namaste !!</p>
      <p>Greetings of the day.</p>
      <p>
        I would like to take this opportunity to welcome you to the country of
        Mount Everest, Lord Pashupatinath Lord Buddha and Goddesses Sita, Nepal.
        The Himalayan and mystical country offers a journey to remember with its
        diverse topographies, cultures, languages, religions and festivals. The
        weather, sceneric locations and loving Nepalese people will make fall in
        love with the country.
      </p>
      <p>
        Hotel Kusum Palace is strategically located at out skirt of Malangwa
        City around Indo-Nepal Highway. Malangwa City is newly transforming
        smart city.
      </p>
      <p>
        Hotel Kusum Palace is a modern, upscale destination in the Indo-Nepal
        bordering area of Nepal that provides the passionate highest level of
        comfort and services. Renowned as an elegant and best Hotel in Malangwa,
        we recognize that small gestures make a big difference to our Guests. We
        with the motto of “Developing Nepal as a Tourist Destination in the
        World”, have promoted Hotel Kusum Palace as a fusion of Local Nepali and
        Indian Culture. We do ordinary things in an extra ordinary way – a
        philosophy that has defined our brand's success from the very start.
      </p>
      <p>
        We tend to provide quality service and luxurious accommodation at an
        affordable price while at the same time working to preserve the
        environment so that everyone can appreciate Nepal’s beauty throughout.
      </p>
      <p>
        Our hotel provides amazing accommodation, mesmerizing dining option,
        range of domestic & imported drinks, fully facilitated conference/event
        arrangements and travel assistance of every kind and size. An exquisite
        wedding location offering exceptional service, facilities, theme-party
        facilities, and exquisite cuisine to meet your needs.
      </p>
      <p>
        With a passion to promote Nepal’s vibrant culture of warm hospitality,
        Mr. Nagendra Prasad Chaudhary founded the Hotel Kusum Palace in April
        2019. Since then, we have consistently been serving our guests with the
        authentic taste of Nepali hetitage and its splendid culture. We strive
        to make our guests feel at home.
      </p>

      <p>
        We combine splendor with Nepalese Hospitality. A model of elegance and
        services with all the comforts of home.
      </p>
      <p>
        As Managing Director of Hotel Kusum Palace, I would like to Welcome you
        to the best hotel in the region.
      </p>
      <p>Have a pleasant stay with us.</p>
      <p>Thank you</p>
      <hr>
      <div class="msglast">
        <p class="tobold">Dr. Santosh Jaiswal</p>
        <p>(MBBS, USTC)</p>
        <p class="tobold">Managing Director</p>
        <p>Hotel Kusum Palace</p>
      </div>
    </div>
  </section>




  <footer>
    <div class="footer"></div>
  </footer>
  </body>
</html>
